@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
* {
  font-family: "Geo", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
